* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

.upper-promotion {
	background-color: black;
	height: 40px;
}
.upper-promotion p {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
	font-weight: 400;
}

nav {
	background-color: #f7f7f7;
}
nav .logo-container {
	height: 71px;
}
nav .navigation {
	height: 72px;
}

nav .letter-p {
	width: 15.33px;
	height: 17.7px;
}
nav .letter-o {
	width: 13.44px;
	height: 13.14px;
}
nav .letter-w {
	width: 21.11px;
	height: 12.53px;
}
nav .dot {
	width: 3.89px;
	height: 3.89px;
}

nav .direction-links {
	font-size: 16px;
	font-weight: 400;
}

/* increases brand logo size */
@media screen and (min-width: 768px) {
	nav .letter-p {
		width: 22.85px;
		height: 26.55px;
	}
	nav .letter-o {
		width: 20.03px;
		height: 19.71px;
	}
	nav .letter-w {
		width: 31.46px;
		height: 18.79px;
	}
	nav .dot {
		width: 5.8px;
		height: 5.8px;
	}
}

/* all this code if for the carrito text and box under it */
.carrito {
	font-family: "Lato", sans-serif;
	font-weight: 700;
}

.carrito-container {
	background-color: #f7f7f7;
	height: 96px;
}

.carrito-container p {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.carrito-container .information-text p:first-child {
	font-weight: 500;
	letter-spacing: 0.1px;
}
.carrito-container .information-text p:nth-child(2) {
	letter-spacing: 0.25px;
}

/* end of code for carrito text and box */

/* starts code for cheackout box */

.checkout {
	background-color: #f7f7f7;
	height: 188px;
}

.checkout p:first-child {
	font-size: 16px;
	font-weight: 400;
}

.checkout div:last-child p {
	font-weight: 700;
}
.free-shipment {
	height: 55px;
}
.free-shipment p {
	color: #3db56a;
	font-size: 14px;
	margin: 0;
}
/* ends code for cheackout box */

/* here start the checkout button and continue button */
.checkout-btn {
	height: 55px;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1.25px;
	color: white;
	background-color: black;
	text-decoration: none;
	margin-bottom: 15px;
	border-radius: 2px;
}
.checkout-btn:hover {
	color: white;
	box-shadow: 0 3px 10px black;
}
.checkout-btn:active {
	color: white;
	box-shadow: 0 3px 5px black;
}

.continue-btn {
	height: 55px;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1.25px;
	text-decoration: none;
	color: black;
	border: 0.5px solid black;
	border-radius: 2px;
}
.continue-btn:hover {
	color: black;
	box-shadow: 0 3px 10px black;
}
.continue-btn:active {
	color: black;
	box-shadow: 0 3px 5px black;
}
/* here ends the checkout button and continue button */

/* starts product card */

/* ends product card */

.qty-selector {
	height: 45px;
	width: 115px;
}
